[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
pandas = "*"
nltk = "*"
gensim = "*"
transformers = "==3.0.0"
tensorflow = "*"

[requires]
python_version = "3.6"
