[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
rsa = "==3.4"
wrapt = "==1.11.1"
matplotlib = "==3.3.0"
numba = "==0.50.1"
scipy = "==1.5.2"
uuid = "==1.30"
transformers = "==3.0.2"
simpletransformers = "==0.47.2"
pandas = "==1.0.5"
numpy = "==1.18.5"
torch = "==1.6.0"
tensorboardX = "2.1"
click = "*"
pygithub = "*"

[requires]
python_version = "3.6"
